input, label{
    color: white;
}

.carousel {
    max-width: 300px;
    max-height: 500px;
    margin: auto;
}

.selected {
    border: 4px solid blue;
}

#btnSeleccionar {
    border-radius: 25px;
    padding: 8px 24px;
}

.error {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    display: none;
    text-align: left;
    border: 1px solid red;
    border-radius: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 5px;
    cursor: none;
}

.dayContainer, .flatpickr-rContainer, .flatpickr-weekdaycontainer, .flatpickr-months, .flatpickr-current-month, .arrowUp, .arrowDown{
    background-color: white;

    .numInputWrapper{
        background-color: white;
        color: black;
    }
    .flatpickr-next-month, .flatpickr-prev-month{
        background-color: white;
        path, svg{
            background-color: white;
        }
    }
    span.flatpickr-disabled{
        color: black;
        background-color: rgba(255, 0, 0, 0.6);
    }
    .flatpickr-monthDropdown-months option{
        color: var(--colorBlanco);
        background-color: var(--fondoNegro) !important;
    }

}

.formHeader {
    background-image: url(/images/imagenes-stock/bicicleta-montaña-atardecer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 25vh;
}


h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    background: none;
}