:root{
    --colorNaranja: #ff7a00;
    --fondoNegro: #1f2023;
    --colorBlanco: white;
    --fuente: open-sans, sans-serif, Arial, Helvetica, sans-serif;
    --fuenteTam: 20px;
}

/* ESTILOS GENERALES*/

body {
    color: var(--colorBlanco);
    background-color: var(--fondoNegro);
}

.infoService {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}


/* ESTILO FORMULARIO*/

.calendario-carousel {
    color: var(--colorBlanco);
    background-color: var(--fondoNegro);
    box-shadow: rgba(0, 0, 0, 0.500) 0 6px 20px;
}

.carousel {
    max-width: 300px;
    max-height: 500px;
    margin: auto;
}

.carousel-inner {
    border-radius: 15px;
}
.selected {
    border: 4px solid var(--colorNaranja);
    border-radius: 15px;
}

#btnSeleccionar {
    border-radius: 5px;
    padding: 8px 15px;
    color: var(--colorBlanco);
    border: none;
    background-color: var(--colorNaranja);
}

#btnSeleccionar:hover {
    background-color: #ff8c00;
}

.error {
    display: none;
    background-color: #ffcccc;
    color: #a94442;
    border: 1px solid #a94442;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin: 10px 0;
}

.btnEnviar {
    color: var(--colorBlanco);
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 30px;
    border: none;
    background-color: rgb(43, 136, 51);
}


/* ESTILO CALENDARIO*/
.dayContainer, .flatpickr-rContainer, .flatpickr-weekdaycontainer, .flatpickr-months, .flatpickr-current-month, .arrowUp, .arrowDown{
    background-color: white;

    .numInputWrapper{
        background-color: white;
        color: black;
    }
    .flatpickr-next-month, .flatpickr-prev-month{
        background-color: white;
        path, svg{
            background-color: white;
        }
    }


    span.flatpickr-day{
        color: black;
        background-color: rgb(134, 237, 118);
    }

    span.flatpickr-disabled{
        color: #a89f9f;
        background-color: white;
    }

    .flatpickr-monthDropdown-months option{
        color: var(--colorBlanco);
        background-color: var(--fondoNegro) !important;
    }

}

.bandaImg {
    background-image: url(/images/imagenes-stock/bicicleta-montaña-atardecer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 25vh;
}

h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    background: none;
}