/* Variables */
:root{

}

*{
    box-sizing: border-box;
    padding: 0;
}

/* Responsive */
[class*="col-"] {
    float: left;
    padding: 10px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


div.carousel-nav-icon > svg {
    height: 48px;
    width: 48px;
}

html[data-bs-theme="dark"] div.carousel-nav-icon > svg {
    fill: #FFF !important;
}

/* Siempre mostrar solo un elemento en el carousel */
.carousel-inner .carousel-item {
    display: none;
}
.carousel-inner .carousel-item.active {
    display: block;
}

/* Ajustes para evitar espacio en blanco en carousel */
#recipeCarousel .carousel-inner,
#recipeCarousel .carousel-item,
#recipeCarousel .card,
#recipeCarousel .card-img,
#recipeCarousel .card-img img {
    width: 100% !important;
    max-width: 100% !important;
}

#recipeCarousel .col-md-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media (min-width: 768px) {
    /* Elimina el padding lateral de la columna central del carousel */
    .col-10 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/* Centrar el carousel horizontalmente */
.carousel-center {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
    display: block !important;
}

.carousel-arrow {
    height: 100%;
    min-width: 48px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 !important;
}

.carousel-arrow .carousel-nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-arrow {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.carousel-arrow.me-3 {
    margin-right: 24px !important;
}
.carousel-arrow.ms-3 {
    margin-left: 24px !important;
}
