:root{
    --colorNaranja: #ff7a00;
    --fondoNegro: #1f2023;
    --colorBlanco: white;
    --fuente: open-sans, sans-serif, Arial, Helvetica, sans-serif;
}

/* ESTILO GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente);
    background-color: var(--fondoNegro);
}

/* ESTILO CUERPO */
body {
    overflow-x: hidden;
    background-color: white;
}

#infoPresentacion {
    background-color: var(--fondoNegro);
    font-family:var(--fuente);
    color: var(--colorBlanco);
    text-align: center;
}

/* ESTILO IMAGENES CAROUSEL SERVICE */
.imgServices {
    border-radius: 15px;
}

.card {
    box-shadow: 0 0 45px rgba(97, 58, 21, 0.7); /* Resplandor */
    transition: box-shadow 0.3s ease; /* Suaviza el cambio al interactuar */
    border: none;
}

.card:hover {
    box-shadow: 0 0 55px rgba(255, 147, 46, 0.308); /* Aumenta el resplandor al pasar el mouse */
}