/*-------------------------DEFINICION DE VARIABLES-------------------------*/
:root{
    --fuente : font-family: monserrat, sans-serif;
    --colorfondo1: #1f2023;
    --colorfondo2: #37383a;
    --colorborde: #833f1d;
    --colorfuente1: #ffffff;
    --colorfuente2: #ff7a00;
}
/*-------------------------DEFINICION DE VARIABLES-------------------------*/



/*--------------------------------RESPOSIVE--------------------------------*/
*{box-sizing: border-box;}

[class*="col-"] {
    background-color: var(--colorfondo1);
    float: left;
    padding: 15px;
    /*border: 1px solid red;*/
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/*--------------------------------RESPOSIVE--------------------------------*/
html{
    background-color: var(--colorfondo1);
}

nav , .navbar , .navbar-brand{
    background-color: var(--colorfondo1);
    font-family: var(--fuente);
    color: var(--colorfuente2);
    nav.item , .nav-link{
        color: var(--colorfuente1);
    }
    
}

.carousel{
    background-color: var(--colorfondo1);
    font-family: var(--fuente);
    color: var(--colorfuente2);
}
.carousel-inner img {
    height: 80vh; /* Altura del 50% de la ventana */
    object-fit: contain; /* Ajusta la imagen sin deformarla */
}
/*
h1{
    font-family: var(--fuente);
    color: var(--colorfuente2);
    background-color: var(--colorfondo1);
}
*/
