:root{
    --fuente : font-family: monserrat, sans-serif;
    --colorfondo1: #1f2023;
    --colorfondo2: #37383a;
    --colorborde: #833f1d;
    --colorfuente1: #ffffff;
    --colorfuente2: #ff7a00;
}
